<DOCTYPE HTML>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">​
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container mt-3">
	<h1>Login no sistema academico </h1>
	<form action="/logar" method="post">
		<div class="mb-3 mt-3">
			<label>E-mail</label>
			<input type="text" class="form-control" name="email"/>
		</div>
		<div class="mb-3 mt-3">
			<label>Senha</label>
			<input type="password" class="form-control" name="password"/>
		</div>
			<input type="submit" class="btn btn-primary" value="Logar">
		<a href="/cadastro" class="btn btn-link" >Cadastrar-se</a>
	</form>
	</div>
</body>

</HTML>
